/* Begin footer */
#footer-trang-chu {
  display: flex;
  background-color: #17479d;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

#footer-trang-chu .footer-title {
  text-align: justify;
  margin-left: 30px;
}

#footer-trang-chu .footer-title .img-main {
  background-color: transparent;
  width: 400px;
}

#footer-trang-chu .footer-title .footer-title-header {
  color: #fbe263;
}

#footer-trang-chu .footer-title .footer-title-description {
  color: white;
}

#footer-trang-chu .footer-title .footer-title-form {
  position: relative;
}

#footer-trang-chu .footer-title .footer-title-form input {
  padding: 10px 15px;
  border-radius: 10px;
  width: 300px;
  border: none;
}

#footer-trang-chu .footer-title .footer-title-form a {
  position: absolute;
  display: inline-flex;
  width: 100px;
  height: 36px;
  background-color: #0b234d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 0;
  right: 69px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

#footer-trang-chu .footer-title .img-footer {
  width: 250px;
  margin-top: 15px;
  cursor: pointer;
  margin-bottom: 50px;
}

#footer-trang-chu .footer-diachi {
  width: 25%;
}

#footer-trang-chu .footer-diachi h2 {
  font-size: 20px;
  color: #fbe263;
  margin: 0;
}

#footer-trang-chu .footer-diachi span {
  color: #fbe263;
  display: block;
  padding-top: 15px;
}

#footer-trang-chu .footer-diachi .footer-diachi-header {
  display: inline;
  color: white;
}

#footer-trang-chu .footer-diachi .footer-diachi-description {
  display: inline;
  color: white;
}

#footer-trang-chu .footer-diachi .img-main {
  display: block;
  margin-top: 20px;
}

#footer-trang-chu .footer-help h2 {
  font-size: 20px;
  color: #fbe263;
  margin: 0;
}

#footer-trang-chu .footer-help span {
  display: block;
  color: #fbe263;
  padding-top: 15px;
}

#footer-trang-chu .footer-help .footer-help-header {
  display: inline;
  color: white;
}

#footer-trang-chu .footer-help .footer-help-header-list a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 1.4;
}

#footer-trang-chu .footer-diachi .img-main {
  cursor: pointer;
}

#footer-trang-chu .footer-information h2 {
  font-size: 20px;
  color: #fbe263;
  margin: 0;
}

#footer-trang-chu .footer-information .footer-information-header-list a {
  display: block;
  color: white;
  text-decoration: none;
  line-height: 1.4;
}

#footer-trang-chu .footer-information .footer-information-socials {
  padding-top: 35px;
}

#footer-trang-chu .footer-information .footer-information-socials i {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  line-height: 50px;
  font-size: 25px;
  color: #17479d;
}

#footer-trang-chu
  .footer-information
  .footer-information-socials
  i:nth-child(1) {
  margin-right: 10px;
}

#footer-trang-chu::after {
  display: block;
  position: absolute;
  content: "2025 © Thienlong.vn - Bản quyền thuộc Tập đoàn Thiên Long";
  bottom: 0;
  color: white;
}

/* End footer */
