.container {
  width: 1200px;
  margin: auto;
}

/* Begin header */
#header-trang-chu {
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

#header-trang-chu .logo-trang-chu {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#header-trang-chu .logo-trang-chu img {
  background-color: transparent;
  width: 200px;
  height: 100%;
}

#header-trang-chu .tim-kiem-san-pham {
  position: relative;
}

#header-trang-chu .tim-kiem-san-pham input {
  padding: 10px 15px;
  width: 600px;
  border-radius: 10px;
  border: none;
}

#header-trang-chu .tim-kiem-san-pham {
  display: flex;
}

#header-trang-chu .tim-kiem-san-pham i {
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: #0b234d;
  line-height: 40px;
  cursor: pointer;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#header-trang-chu .header-contact {
  display: flex;
  align-items: center;
}

#header-trang-chu .header-contact i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0b234d;
  line-height: 30px;
  color: white;
}

#header-trang-chu .header-contact {
  margin-left: 100px;
  margin-right: 50px;
  cursor: pointer;
}

#header-trang-chu .header-contact .contact {
  margin-left: 15px;
}

#header-trang-chu .header-contact .contact .contact-phone-number {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

#header-trang-chu .header-contact .contact .contact-phone-help {
  color: white;
  font-size: 16px;
}

#header-trang-chu .header-dangnhap-dangki {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#header-trang-chu .header-dangnhap-dangki i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0b234d;
  line-height: 30px;
  color: white;
}

#header-trang-chu .header-dangnhap-dangki {
  margin-right: 50px;
}

#header-trang-chu .header-dangnhap-dangki .dangnhap-dangki {
  margin-left: 15px;
}

#header-trang-chu .header-dangnhap-dangki .dangnhap-dangki .dangnhap {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

#header-trang-chu .header-dangnhap-dangki .dangnhap-dangki .dangki {
  color: white;
  font-size: 16px;
}

#header-trang-chu .header-giohang {
  font-size: 25px;
  color: white;
  position: relative;
  cursor: pointer;
}

#header-trang-chu .header-giohang::after {
  display: inline-flex;
  content: "0";
  width: 20px;
  height: 20px;
  left: 20px;
  bottom: 15px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
}

/* End header */
