body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
:root {
  --color-main: #17479d;
<<<<<<< HEAD
    --font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;

}
=======
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial,
    sans-serif;
}
>>>>>>> TrangMyThuatSauKhiDangNhap
