body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
:root {
  --color-main: #17479d;
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial,
    sans-serif;
}
